body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 28px;
}

.upload-form {
    margin-bottom: 20px;
}

.upload-form input[type="file"] {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    display: block;
    margin: auto;
}

.upload-form input[type="submit"] {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.upload-form input[type="submit"]:hover {
    background-color: #005f6b;
}

.prediction {
    color: #008CBA;
    margin: 20px 0;
    font-size: 22px;
}

img.predicted-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 1px solid #ddd; /* Add a slight border */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}